body {
    margin: 0;
    font-family: "Monsterrat", sans-serif;
    background-image: url('climate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    background-color: rgb(180, 245, 245);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"]{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    width: 60%;
}

form input[type="submit"]{
    background-color: rgb(173, 250, 96);
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease;

}

form input[type="submit"]:hover{
    background-color: rgb(110, 173, 17);
}

.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.temperature{
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

.description{
    font-size: 24px;
    margin-bottom: 20px;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.details > div{
        padding: 25px;
        background-color: white;
        margin: 10px;
        flex: 1;
        border-radius: 5px;
        text-align: center;
        min-height: 45px;
    
}

@media(max-with: 768px){
    form{
        flex-direction: column;
    }
    form input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
    }
}